*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: #3e3d3d;
}

nav ul li{
    background: #000;
    padding: 8px 16px;
    color: #fff;
    font-size: 1.2rem;
}
.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
}
.box{
    border: 2px solid black;
    font-size: 5rem;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(244, 240, 249);
}
.gameInfo{
    padding: 0 34px;
}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}